@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;

  --MUE-dark-blue: #000F46;
  --MUE-dark-dark-blue: #010519;
  --MUE-dark-dark-blue-content: #000619;
  --MUE-dark-blue-box: #000929;
  --MUE-esports-dark-blue-box: #080F2C;
  --MUE-sky-blue: #46C8F0;
  --MUE-sky-blue-hover: #3CAACB;
  --MUE-ocean-blue: #297B95;
  --MUE-light-blue: #838FBB;
  --MUE-white: #FAF9F6;
  --MUE-gray: #8188a2;
  --MUE-black: #0B1215;
  --MUE-green: #9FB826,
  --MUE-lime: #BFD93F,
  --MUE-yellow: #FFD629;
  --MUE-yellow-hover: #967D13;
  --MUE-pink: #EB7BBE;
  --MUE-footer-blue: #0D1B50;

  --MUE-get-in-touch-section-color: #01030D;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.timeline-date-style-MUE-sky-blue {
  color: var(--MUE-sky-blue);
  font-weight: 800 !important;
}
.timeline-date-style-MUE-yellow {
  color: var(--MUE-yellow);
  font-weight: 800 !important;
}
.timeline-date-style-MUE-pink {
  color: var(--MUE-pink);
  font-weight: 800 !important;
}